:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* For webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}
/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #08c415; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #08c415; /* Color of the thumb on hover */
}

hr {
  border: none; /* Remove the default border */
  height: 1px; /* Set the height of the line */
  background-color: #08c415; /* Change the background color to red */
}